name: 'Release'
description: 'Releases a package'
inputs:
  scope:
    description: 'The package to release. Must match a package specified in lerna.json.'
  version:
    description: 'The type of version to release.'
  tag:
    description: 'The tag to publish to on NPM (DRY RUN).'
  preid:
    description: 'The prerelease identifier used when doing a prerelease.'
  working-directory:
    required: true
    description: 'The directory of the package to deploy.'
  token:
    description: 'The NPM authentication token required to publish.'
runs:
  using: 'composite'
  steps:
    - uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
      with:
        version: 8
    - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version-file: './package.json'
        cache: 'pnpm'
    - name: Install Dependencies
      run: pnpm --filter ${{ inputs.scope }} install --frozen-lockfile
      shell: bash
      working-directory: ${{ inputs.working-directory }}
    - name: Update Version
      run: npx lerna version ${{ inputs.version }} --yes --exact --no-changelog --no-git-tag-version --preid=${{ inputs.preid }}
      shell: bash
      working-directory: ${{ inputs.working-directory }}
    - name: Run Build
      run: pnpm run build
      shell: bash
      working-directory: ${{ inputs.working-directory }}
    - name: Prepare NPM Token
      run: echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
      working-directory: ${{ inputs.working-directory }}
      shell: bash
      env:
        NPM_TOKEN: ${{ inputs.token }}
    - name: Publish to NPM
      run: npm publish --tag ${{ inputs.tag }}
      shell: bash
      working-directory: ${{ inputs.working-directory }}
